
@media screen and (max-width:800px) {
    body {
        background-color:yellow;
    }
}

body {
    margin: 0;
    padding: 0;
}

.move-right{
    margin-left: 300px;
}

.main-section{
    font-family: Arial, Helvetica, sans-serif;        
    padding: 1px 16px;
    height: 40em;
}

.navbar-css {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:gold;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .navbar-css a {
      width: 100%;
    padding: 6px 6px 6px 12px;
    text-decoration: none;
    font-size: 22px;
    color: #818181;
    display: block;
  }
  
  .navbar-css a:hover {
    color:black;
    background-color:#fff;
  }

header{
    text-align:center;
    font-family:fantasy;
    color: blueviolet;  
    font-size: 42px;
      
}

#About p{
    margin-top: 100px;
    font-size: 20px;
    color: grey;
    font-style: italic;
}

#Galery p{
    position: absolute;
    padding: 30px;
    align-content: center;

}

#Sign_in p{
    text-align: center;
}

#Logos p{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.navigate{
    visibility: hidden;
}

ul{
    list-style-type: none;
}

#navbar{              
    position: fixed;      
}
.img-size{
    width: 250px;
    height: 250px;
}
.logos{
    width: 130px;
    height: 100px;        
}